.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
docs
.Rapp.history
/.quarto/
.RData
.Ruserdata
*-Ex.R
/*.tar.gz
/*.Rcheck/
.Rproj.user/
vignettes/*.html
vignettes/*.pdf
*_cache/
/cache/
*.utf8.md
*.knit.md
.Renviron
asdf.qmd
asdf.*
inst/doc
math-rendered-by-lua-filter.html
**/.quarto/
